body{
    font-family: 'Open Sans', sans-serif;

}

h1{
 		text-align: center;
 		color :#6f6f6f;
  }

#h img,#f img{
    margin-left: 20px;
}

table{
	    margin-top:0;
	    margin-left: 29.5%;
        margin-right: 60%;
	    width: 40%;
        height: 50%; 
        position: absolute;
        border:none;
        border-collapse: collapse;

 	}

td{

 	    height: 150px;
 	    width: 100px;
 	    padding: 10px;
 	    margin: 5px;
 	    border : 2px #dcebdf solid;
        align-content: center;
  }



th{
        height: 1px;
        width: 100px;
 	    padding: 1px;
 	    margin: 1px;
        border:none;

  }

body{
 	    background-color: white;
 	}
 	
#h{
        float: right;
 		margin-right: 40px;
 		margin-top: 400px;

  }

#f{
 		float: left;
 		margin-top: 400px;
 		margin-left: 100px;
  }

h3{
        color :#ADD8E6;
        float: top;
 		margin-bottom: 4px;
 	}
 	
#c1{
	border-style: none solid solid none;
}

#c2{
	border-style: none solid solid solid;
}

#c3{
	border-style: none none solid solid;
}

#c4{
	border-style: solid solid solid none;
}

#c6{
	border-style: solid none solid solid;
}

#c7{
	border-style: solid solid none none;
}

#c8{
	border-style: solid solid none solid;
}

#c9{
	border-style: solid none none solid;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
}

